html {
    background-color: rgb(31, 29, 29);
}
body {
    background-color: black;
}

.container {
    background-color: white;
    border: 60px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 50%;
    padding-bottom: 30px;
    margin-left: 20%;
}

.div-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 20px;
}

.div-1b {
    width: 500px;
    font-family: Roboto;
}

 .tres-puntos {
    width: 50px;
    margin-top: 20px;
    margin-left: 300px;
}

.img-div > .img-1 {
    width: 30px;
    margin-top: 20px;
    margin-right: 10px;
    height: auto;
    object-fit: contain;
}

.div-2 > .img-2 {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    font-size: 35px;
}

.div3-likes, .div3-text {
    margin: 10px;
    font-family: Roboto;
    font-size: 15px;
}